<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Book Store Error page</title>
    </head>
    <body>
    	<h1>Book Store Error page</h1>    	
    	</p>
    	 	<br>request uri : [[${ERROR_REQUEST_URI}]]
        </p>
        	<br>status code: [[${ERROR_STATUS_CODE}]]
        </p>
        	<br>error message: [[${ERROR_MESSAGE}]]
        </p>        
         	<br>exception : [[${exception}]]
        </p>          
    </body>
</html>